<h2>Inserção de livros</h2>
<hr>
<mat-card>
<mat-form-field>
<input type="text" matInput placeholder="id" [(ngModel)]="id" />
</mat-form-field>
<hr />
<mat-form-field>
<input type="text" matInput placeholder="titulo" [(ngModel)]="titulo" />
</mat-form-field>
<hr />
<mat-form-field>
<input type="text" matInput placeholder="autor" [(ngModel)]="autor" />
</mat-form-field>
<hr />
<mat-form-field>
<input type="text" matInput placeholder="Numero de Paginas" [(ngModel)]="numeroDePaginas" />
</mat-form-field>
<hr />
<button (click)="onAdicionarLivro()">Inserir Cliente</button>
</mat-card>
